<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-content">
        <h3 class="text-uppercase my-4">about us</h3>


        <div class="list-group  rounded-0 pb-2 border-secondary list-group-horizontal d-flex" >
            <button  class="w-content accordion-button text-two text-capitalize ms-0 mx-4 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               our mission
              </button>
    
              <button class="accordion-button collapsed text-capitalize mx-4 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                our values
              </button>

              <button class="accordion-button collapsed text-capitalize mx-4 py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                what we do
              </button>
        </div>
    


        <div class="accordion p-0 m-0"  id="accordionExample">
            <div class="accordion-item my-3 border-0" >
              <h2 class="accordion-header">
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse  show" data-bs-parent="#accordionExample">
                <div class="accordion-body p-0 m-0 show">
                    <p class="text-one">
                        To customize the collapse behavior so that only one item is visible at a time, you can use Bootstrap's accordion component instead of the standard collapse. The accordion component allows for the same collapsible functionality but ensures that only one item is expanded at a time.
                    </p>
                </div>
              </div>
            </div>
            <div class="accordion-item my-3 border-0">
              <h2 class="accordion-header">
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body p-0 m-0">
                    <p>
                        To customize the collapse behavior so that only one item is visible at a time, you can use Bootstrap's accordion component instead of the standard collapse. The accordion component allows for the same collapsible functionality but ensures that only one item is expanded at a time.
                    </p>
                </div>
              </div>
            </div>

            <div class="accordion-item border-0">
                <h2 class="accordion-header">
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body p-0 m-0">
                    <p>
                        To customize the collapse behavior so that only one item is visible at a time, you can use Bootstrap's accordion component instead of the standard collapse. The accordion component allows for the same collapsible functionality but ensures that only one item is expanded at a time.
                    </p>
                  </div>
                </div>
              </div>
          </div>
          

    
        <button
          class="btn-custom bg-one border-0 my-4 text-capitalize me-auto rounded-5"
        >
          more about us
        </button>
      </div>
      <div class="col-md-6 p-0 m-0 d-flex justify-content-end align-items-center about-image" >
        <img src="https://images.unsplash.com/photo-1597764690523-15bea4c581c9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="90%" height="100%" alt="">
      </div>
    </div>
  </div>
</div>
