<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 services-content">
        <h3 class="text-uppercase text-title my-3">appointment</h3>
        <h1 class="text-two text-capitalize my-3 text-title">
          online booking<span
            class="text-capitalize mx-2"
            style="color: goldenrod"
            >For appointment</span
          >
        </h1>
        <p class="my-3">
          Choosing us means choosing a trusted partner in senior care Lorem
          ipsum dolor sit amet consectetur adipisicing elit.
        </p>
     
      </div>
      <div class="col-md-8  p-5">
<form action="" class="d-flex flex-wrap justify-content-around">
    <div class="input-group mb-5 ">
       
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" aria-describedby="basic-addon1">
      </div>

      <div class="input-group  ">
      
        <input type="text" class="form-control " placeholder="Last name" aria-label="Last name" aria-describedby="basic-addon1">
      </div>

      <div class="input-group  ">
      
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>

      <div class="input-group  ">
       
        <input type="text" class="form-control" placeholder="Mobile" aria-label="Mobile" aria-describedby="basic-addon1">
      </div>

      <div class="input-group  w-100 p-3">
       
        <textarea type="text" rows="3" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="basic-addon1"></textarea>
      </div>

      <button
      class="btn-custom btn-bg-one border-0  my-5 m-3  text-capitalize me-auto rounded-5"
    >
      all services
    </button>

</form>
      </div>
    </div>
  </div>
</div>
