.container-fluid {
    width: 100%;
    background:var(--turquoise-surf-100);
    padding: 3rem 0rem;
}
.services-content p {
    color: var(--text-title);
    font-weight: light;
}
.services-content h3::before {
    position:absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--bg-one);
    left: -30px;
}
.services-content h1 {
    font-size: 2rem;
    font-weight: 400;
    span {
        color: var(--brand-primary-100);
        text-transform: uppercase;
        font-weight: bold;
    }
}
.services-content p {
    font-size: 0.9rem;
    font-weight: 400;
}

.input-group {
    width: 45%;
    height: 30px;
    margin-bottom: 50px;
}
.input-group input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--bg-one);
    color: var(--text-title);
    box-shadow: none;
    border-radius: 0;
    font-size:0.9rem;
}
.input-group textarea {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--bg-one);
    color: var(--text-title);
    box-shadow: none;
    border-radius: 0;
    font-size: 0.9rem;
}
.input-group textarea::placeholder {
    color: var(--text-title);
}
.input-group input::placeholder {
   color: var(--text-title);
}
