.container-fluid {
    width: 100%;
    height: auto;
    background:var(--bg-four);
    padding:4rem 0rem;
    h1{
     margin:auto auto 50px auto;
    }
}
.blog-content > h3  {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-two);
    position: relative;
}
.blog-content >  h3::before {
    position:absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--bg-one);
    left: -30px;
}

.blog-content >  h1 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--bg-three);
}
.card-body > h3{
    color: var(--text-two);
    font-size:1.6rem;
    font-weight: 500;
}
.card-body > p {
    font-size: 0.9rem;
}
.author > .adr > h5 {
    font-size:1rem;
    font-weight: 400;
}
.adr > p {
    font-size:0.8rem;
    font-weight:300;
}

.text-cont > h3 {
    font-size:1.4rem;
    
}
.text-cont > p {
    font-size: 0.9rem;
}
.author-item > .adr h5{
  font-size: 0.9rem;
}
.item > .text-cont >  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--bg-three);
}
.card-body > h3{
    color: var(--text-two);
    font-size:1.6rem;
    font-weight: 500;
}









