.container-fluid {
    width: 100%;
    height: auto;
    background:var(--bg-four);
    padding: 3rem 0rem;
}

.blog-content > h3  {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    color: var(--text-two);
}
.blog-content >  h3::before {
    position:absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--bg-one);
    left: -30px;
}



.blog-content >  h3::before {
    position:absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--bg-one);
    left: -30px;
}
.blog-content >  h1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: var(--bg-three);
}
.card-body > h3{
    color: var(--text-two);
    font-size:1.6rem;
    font-weight: 500;
}
.card-body > p {
    font-size: 0.9rem;
}
.author > .adr > h5 {
    font-size:1rem;
    font-weight: 400;
}
.adr > p {
    font-size:0.8rem;
    font-weight:300;
}









