<header class="py-3">
  <nav class="navbar  container-fluid navbar-expand-lg px-0 px-lg-5">
    <div class="container-fluid px-4  px-lg-0" >
      <a class="navbar-brand fw-bold text-uppercase  me-5" href="#">
      Imon optical
        <!-- <img width="100px" height="auto" src="./assets/images/logo.png" alt="karimul"> -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="" class="nav-item mx-2">
            <a class="nav-link text-one" href="#">Services</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-one" href="#">Products</a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link text-one" href="#">About us</a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link text-one" href="#">Contact us</a>
          </li>
        </ul>
      </div>
      <app-button-lg class="d-none d-lg-block" [color]="'btn-primary button'" [btnText]="'Book appointment'"></app-button-lg>
    </div>
  </nav>
</header>
