header{
// border:1px solid red;
}
.container {
    // border:2px solid red;
}
.container-fluid {
    // border:2px solid yellow;
    padding: 0px;
    margin: 0px;
}

a {
    box-shadow: none;
    font-weight: 400;
    font-size: 15px;
}

