<!-- <div class=" container-fluid position-relative ">
<div class="content position-absolute px-4 row">

    <div  class="col-md-6 d-flex justify-content-center align-items-start flex-column">
          <h3 class="p-0 text-title m-0 py-2">Best optical near the city</h3>
    <p class="text-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nostrum voluptates veniam harum dolor tempore, sunt ipsam iste, ullam rerum accusantium </p> 
    <div class="py-2">
        <button class="btn-custom bg-two border-0 mx-2">Book now</button>
    </div>
    </div>
    <div class="col-md-6">
    
    </div>

   
</div>

</div> -->

<div *ngIf="images && images.length > 0" class="carousel-container">
    <img
      class="fade"
      width="100%"
      *ngFor="let item of images; let i = index"
      [src]="item.imageSrc"
      [alt]="item.imageAlt"
      [ngClass]="{ 'image-active': selectedIndex === i }"
    />
    <div *ngIf="indicators" class="carousel-dot-container">
      <span
        (click)="selectImage(i)"
        *ngFor="let item of images; let i = index"
        [ngClass]="{ active: selectedIndex === i }"
        class="dot"
      ></span>
    </div>
  
    <div *ngIf="controls" (click)="onPrev()" class="btn-carousel btn-prev">
      <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
    </div>
  
    <div *ngIf="controls" (click)="onNext()" class="btn-carousel btn-next">
      <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
    </div>
  </div>
  