<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container px-4">
       <div class="row" >
        <div class="col-md-3 services-content">
         <h3 class="text-uppercase my-3">our services</h3>
         <h1 class="text-two my-3">Premium Elderly Care</h1>
         <p class="text-one my-3">Choosing us means choosing a trusted partner in senior care</p>
         <button class="btn-custom btn-bg-one border-0 text-capitalize me-auto rounded-5">all services</button>
        </div>
        <div class="col-md-3 p-3 item">
      <h3 class="text-two text-capitalize">proper medication</h3>
      <p class="text-one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem ?</p>
      <img src="https://plus.unsplash.com/premium_photo-1677410179106-95be01ec9301?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-1" height="160" width="250" alt="">
        </div>
        <div class="col-md-3 p-3 item">
          <h3 class="text-two text-capitalize">gaming activities</h3>
          <p class="text-one">Lorem ipsum dolor sit amet consectetur adipisicing elit. our services is the best </p>
          <img src="https://images.unsplash.com/photo-1616163477138-508df4131a38?q=80&w=1395&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-1" width="250" height="160" alt="">
        </div>
        <div class="col-md-3 p-3 item">
          <h3 class="text-two  text-capitalize">group activities</h3>
          <p class="text-one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem </p>
          <img src="https://plus.unsplash.com/premium_photo-1664476026195-1cd35b564759?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-1" width="250" height="160" alt="">
        </div>
       </div>
    </div>

</div>
