<div class="container-fluid d-flex justify-content-center align-items-center">
       <div class="row">
        <div class="col-md-3 services-content d-flex justify-content-center flex-column">
         <h3 class="desktop-heading-2xsmall h3 my-3">our services</h3>
         <div>
          <h1 class="desktop-heading-small mt-3 mb-2">What do <span>we do</span> here ?</h1>
          <p class="desktop-text-small mt-2 mb-3">Choosing us means choosing a trusted partner in senior care Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ut Lorem ipsum dolor sit amet.</p>
         </div>
         <app-button-lg [color]="'btn-secondary button'" [btnText]="'All services'"></app-button-lg>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h3 class="text-two text-capitalize">proper medication</h3>
            <p class="desktop-text-xsmall">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem ?</p>
            <img src="https://plus.unsplash.com/premium_photo-1677410179106-95be01ec9301?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-1" height="160" width="250" alt="">
          </div>
        </div>
        <div class="col-md-3">
          <div class="item">
            <h3 class="text-two text-capitalize">gaming activities</h3>
            <p class="desktop-text-xsmall">Lorem ipsum dolor sit amet consectetur adipisicing elit. our services is the best </p>
            <img src="https://images.unsplash.com/photo-1616163477138-508df4131a38?q=80&w=1395&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-1" width="250" height="160" alt="">
          </div>
        </div>

        <div class="col-md-3">
          <div class="item">
            <h3 class="text-two  text-capitalize">group activities</h3>
            <p class="desktop-text-xsmall">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem </p>
            <img src="https://plus.unsplash.com/premium_photo-1664476026195-1cd35b564759?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded-1" width="250" height="160" alt="">
          </div>
          </div>
       </div>
</div>
