.logo-desc {
    font-size: 0.9rem;
}
.container-fluid {
    background-color: #f8f8f8; 
}

// social icon desing
.social-links {
    display: flex;
    justify-content: start;
  }
  
  .social-links a {
    text-decoration: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--bg-two);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right:15px;
  }
  .social-links a i {
   color: var(--bg-two);
  }
  p {
    font-weight: 300;
    font-size: 1rem;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
 
  ul li a {
   text-decoration: none;
   font-weight: 300;
  }

  
