<footer class="container-fluid bg-two">
  <div class="container">
    <div class="row">
      <div class="col-md-3 px-4 m-0">
        <h3 class="my-2">Imon optical</h3>
        <p class="text-one logo-desc my-4">
          it's the best optioncal where you have your consultant Dr . if you
          have any eye problem then contact to our store
        </p>
        <div class="d-flex align-items-center my-2">
          <i class="fa fa-map-marker me-2" aria-hidden="true"></i>
          <p class="p-0 m-0 text-one">kolkata west bangol india.</p>
        </div>
        <div class="d-flex align-items-center my-2">
          <i class="fa fa-envelope-o me-2" aria-hidden="true"></i>
          <p class="p-0 m-0 text-one">imongmail.com</p>
        </div>

        <div class="social-links my-4">
          <a href="" class=""
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="" class=""
            ><i class="fa fa-instagram" aria-hidden="true"></i
          ></a>
          <a href="" class=""
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="" class=""
            ><i class="fa fa-github" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div
        class="col-md-3 p-0 m-0 d-flex flex-column justify-content-start align-items-center"
      >
        <h3 class="text-capitalize text-two fs-6 my-4">quick links</h3>
        <ul>
          <li class="my-2"><a href="" class="text-one">Home</a></li>
          <li class="my-2"><a href="" class="text-one">about</a></li>
          <li class="my-2"><a href="" class="text-one">products</a></li>
          <li class="my-2"><a href="" class="text-one">contact us</a></li>
        </ul>
      </div>
      <div
        class="col-md-3 p-0 m-0 d-flex flex-column justify-content-start align-items-center"
      >
        <h3 class="text-capitalize text-two fs-6 my-4">useful links</h3>
        <ul>
          <li class="my-2"><a href="" class="text-one">Services</a></li>
          <li class="my-2"><a href="" class="text-one">Living options</a></li>
          <li class="my-2"><a href="" class="text-one">events</a></li>
          <li class="my-2"><a href="" class="text-one">blog</a></li>
        </ul>
      </div>
      <div
        class="col-md-3 p-0 m-0 d-flex flex-column justify-content-start align-items-center"
      >
        <h3 class="text-capitalize text-two fs-6 me-auto my-4">open hours</h3>
        <div>
          <p class="p-0 m-0 text-two my-4">9 am - 8pm Mon to Sat</p>
          <p class="p-0 m-0 text-one my-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            veniam voluptatem quasi!
          </p>
        </div>

        <button
          class="btn-custom btn-bg-one my-auto me-auto text-one border-0 text-capitalize me-auto rounded-5"
        >
          call us today
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center text-one">Karimul All Right Reserved!</p>
    </div>
  </div>
</footer>
