<footer class="container-fluid bg-two">
  <br /><br />
  <div class="container">
    <div class="row">
      <div class="col-md-3 px-md-4 px-0 m-0">
        <h3 class="my-2">Imon optical</h3>
        <p class="text-one logo-desc my-4">
          it's the best optioncal where you have your consultant Dr . if you
          have any eye problem then contact to our store
        </p>
        <div class="d-flex align-items-center my-2">
          <i class="fa-solid fa-location-dot me-2"></i>
          <p class="p-0 m-0 text-one">kolkata west bangol india.</p>
        </div>
        <div class="d-flex align-items-center my-2">
          <i class="fa-regular me-2 fa-envelope"></i>
          <p class="p-0 m-0 text-one">imon&#64;gmail.com</p>
        </div>

        <div class="social-links my-4">
          <a href="" class=""><i class="fa-brands fa-facebook"></i></a>
          <a href="" class=""
            ><i class="fa-brands fa-instagram" aria-hidden="true"></i
          ></a>
          <a href="" class=""
            ><i class="fa-brands fa-twitter" aria-hidden="true"></i
          ></a>
          <a href="" class=""
            ><i class="fa-brands fa-youtube" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <div
        class="col-md-3 p-0 m-0 d-flex flex-column justify-content-start align-items-center"
      >
        <h3 class="text-capitalize text-two fs-6 my-4 w-100 h-md-auto">quick links</h3>
        <ul class="w-100">
          <li class="my-2"><a href="" class="text-one">Home</a></li>
          <li class="my-2"><a href="" class="text-one">about</a></li>
          <li class="my-2"><a href="" class="text-one">products</a></li>
          <li class="my-2"><a href="" class="text-one">contact us</a></li>
        </ul>
      </div>
      <div
        class="col-md-3 p-0 m-0 d-flex flex-column justify-content-start align-items-center"
      >
        <h3
          class="text-capitalize text-left text-two fs-6 my-4 w-100 h-md-auto"
        >
          useful links
        </h3>
        <ul class="w-100">
          <li class="my-2"><a href="" class="text-one">Services</a></li>
          <li class="my-2"><a href="" class="text-one">Living options</a></li>
          <li class="my-2"><a href="" class="text-one">events</a></li>
          <li class="my-2"><a href="" class="text-one">blog</a></li>
        </ul>
      </div>
      <div
        class="col-md-3 p-0 m-0 d-flex flex-column justify-content-start align-items-center"
      >
        <h3 class="text-capitalize text-two fs-6 me-auto my-4">open hours</h3>
        <div>
          <p class="p-0 m-0 text-two my-2">9 am - 8pm Mon to Sat</p>
          <p class="p-0 m-0 text-one logo-desc my-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            veniam voluptatem quasi!
          </p>
        </div>

       
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center logo-desc text-one">Karimul All Right Reserved!</p>
    </div>
  </div>
</footer>
